In [49]:
import numpy as np
import pandas as pd

In [50]:
shoes = pd.read_csv('350Shoes.csv')

In [51]:
shoes.head()

,shoeId,shoeBrand,shoeCategory,shoeColour,shoeImage,shoePrice
0,1,BEAUTIFEET,"Shoes,Women's Shoes,Clothing,All Women's Shoes","Multicolor,MULTI",https://i5.walmartimages.com/asr/3990181c-1f37...,10.00
1,2,Caparros,"Shoes,Clothing,Women's Shoes,All Women's Shoes",Silver,https://i5.walmartimages.com/asr/a07174df-7c83...,79.00
2,3,Vince Camuto,"Shoes,Women's Shoes,Clothing,All Women's Shoes",Brown,https://i5.walmartimages.com/asr/59a1b430-299b...,159.00
3,4,JBU by Jambu,"Shoes,Women's Shoes,Clothing,All Women's Shoes",Brown,https://i5.walmartimages.com/asr/7bd8cdef-d6aa...,69.00
4,5,Style & Co.,"Shoes,Clothing,Women's Shoes,All Women's Shoes",Beige,https://i5.walmartimages.com/asr/aaf29b0f-1084...,19.99

In [52]:
print(shoes.shape)

(348, 6)

In [53]:
shoes.duplicated().sum()

0

In [54]:
shoes

,shoeId,shoeBrand,shoeCategory,shoeColour,shoeImage,shoePrice
0,1,BEAUTIFEET,"Shoes,Women's Shoes,Clothing,All Women's Shoes","Multicolor,MULTI",https://i5.walmartimages.com/asr/3990181c-1f37...,10.00
1,2,Caparros,"Shoes,Clothing,Women's Shoes,All Women's Shoes",Silver,https://i5.walmartimages.com/asr/a07174df-7c83...,79.00
2,3,Vince Camuto,"Shoes,Women's Shoes,Clothing,All Women's Shoes",Brown,https://i5.walmartimages.com/asr/59a1b430-299b...,159.00
3,4,JBU by Jambu,"Shoes,Women's Shoes,Clothing,All Women's Shoes",Brown,https://i5.walmartimages.com/asr/7bd8cdef-d6aa...,69.00
4,5,Style & Co.,"Shoes,Clothing,Women's Shoes,All Women's Shoes",Beige,https://i5.walmartimages.com/asr/aaf29b0f-1084...,19.99
...,...,...,...,...,...,...
343,344,Sebastian Milano,"Clothing,Shoes,Women's Shoes,All Women's Shoes",Brown,https://i5.walmartimages.com/asr/ee27aa37-10af...,595.00
344,345,GUPPY LOVE,"Shoes,Clothing,Women's Shoes,All Women's Shoes","White,Brown",https://i5.walmartimages.com/asr/b70d9e36-8ced...,16.96
345,346,Kenneth Cole,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Taupe Black,Black",https://i5.walmartimages.com/asr/47f917f0-1420...,64.99
346,347,Extersteps,"Women's Sandals,Shoes,Women's Shoes,Clothing",Black,http://i5.walmartimages.com/dfw/dce07b8c-f718/...,19.99
347,348,Ipanema,"Women,Sandals,Shoes,Flip-Flops","Brown,Silver",http://ecx.images-amazon.com/images/I/4150pXeL...,41.25

In [55]:
import pickle
from collections import defaultdict 
pickle.dump(shoes, open('shoes.pkl','wb'))
pickle.dump(defaultdict(set), open('userCart.pkl','wb'))

In [56]:
userCart

   user shoeIds
0     1     1,2